.wrapper

  = render 'shared/side_bar'

  .chat-main
    .header-bar
      .left-header
        .left-header__title
          グループ名
        %ul.left-header__members
          Member：
          %li.member
            メンバー名
          %li.member
            メンバー名
          %li.member
            メンバー名
      .right-header
        .right-header__button
          Edit
    .messages
      = render @messages
      / .message-box
      /   .upper-message
      /     .upper-message__user-name
      /       メンバー
      /     .upper-message__date
      /       2019/02/19
      /   .lower-meesage
      /     .lower-message__content
      /       メッセージ
      / .message-box
      /   .upper-message
      /     .upper-message__user-name
      /       メンバー
      /     .upper-message__date
      /       2019/02/20
      /   .lower-meesage
      /     .lower-message__content
      /       メッセージ
      / .message-box
      /   .upper-message
      /     .upper-message__user-name
      /       メンバー
      /     .upper-message__date
      /       2017/02/21
      /   .lower-meesage
      /     .lower-message__content
      /       メッセージ
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'